<div class="center jumbotron">
  <h1>Bienvenida</h1>

  <h2>"Aquí va la descripción de la plataforma"</h2>

  <form>
    <input type="text" class="form-control" placeholder="Escribe tu nombre (no es indispensable que sea tu nombre real, pero es un dato obligatorio.).">
    <br>
    <select type="text" class="form-control">
      <option>Selecciona tu género (este campo es obligatorio)</option>
      <option>Mujer</option>
      <option>Mujer Transgénero</option>
      <option>Hombre</option>
      <option>Hombre Transgénero</option>
      <option>Otro</option>
    </select>
    <br>
    <textarea class="form-control" rows="3" placeholder="Escribe tu domicilio (este campo es obligatorio)."></textarea>
    <h4>Colonia o pueblo, delegación o municipio, ciudad y/o estado; o si no te sabes tu dirección escribe tu Código Postal.</h4>
    <br>
    <h2>Si prefieres que nosotras te busquemos, por favor escribe tus siguientes datos:</h2>
    <br>
    <input type="text" class="form-control" placeholder="Número de teléfono">
    <br>
    <input type="text" class="form-control" placeholder="Dirección de correo electrónico">
  </form>

  <br><br>
  <%= link_to "Ingresa!", signup_path, class: "btn btn-lg btn-primary" %>
  <br><br><br>
  <h3>Ahora da click en el botón de abajo que elijas.</h3>
  <br><br><br>
    <%= link_to "Relaciones Violentas", relaciones_violentas_path, class: "btn btn-lg btn-success btn_violencia" %>

    <%= link_to "Violencia Laboral", '#', class: "btn btn-lg btn-success btn_violencia" %>

    <%= link_to "Bullying", '#', class: "btn btn-lg btn-success btn_violencia" %>

    <%= link_to "Violencia Institucional", '#', class: "btn btn-lg btn-success btn_violencia" %>

    <%= link_to "Acoso Callejero", '#', class: "btn btn-lg btn-success btn_violencia" %>

</div>



